@(mainForm: Form[MainScreen])

@import helper._

@main("Tweetoo main page") {
    
    <h1>Enter the data</h1>
    
    @form(action= routes.Application.getResults, args = 'id -> "mainForm"){
    
    	@inputText(
    		field = mainForm("what"),
    		args = '_label -> "Enter the search term", 'placeholder -> "Java"
    	)
    	
    	@inputText(
    		field = mainForm("where"),
    		args = '_label -> "Location?", 'placeholder -> "Chicago"
    	)
    	
    	<p class="buttons">
    		<input type="submit">
    	</p>
    }
    
}